div.fileDiv{
  text-align: center;
}
.activityDiv{
  background-image: url('https://images.unsplash.com/photo-1489269210681-663aefbb16fb?dpr=1&auto=compress,format&fit=crop&w=2552&h=&q=80&cs=tinysrgb&crop=');
  background-size: cover;
  height: 100vh;
}
.footerDiv2{
  margin-bottom: 60vh;
}
div.column.forFooter{
  bottom: 0;
  position: absolute;
}
p.actText{
  color: white;
  text-shadow: 1px 5px 30px white, 1px 5px 200px white, 1px 5px 200px white;
  font-size: 2.5em;
  margin-top: 1%;
  margin-left: 2%;
  padding: 1.5%;
}
