
body{
    box-sizing: border-box;
    padding: 0%;
    margin:0%;
}
div.crewBox{
  text-align: center;
  background-image: url('https://images.unsplash.com/photo-1501696045407-7613cdd8f968?dpr=1&auto=compress,format&fit=crop&w=2534&h=&q=80&cs=tinysrgb&crop=');
  align-items: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

img.tripod{
  width: 20vh;
}

.gridBox{
  width: 100%;
  border-radius: 10px;
  background-color: rgba(120, 60%, 70%, 0.55);
  padding: 10% 3% 10% 3%;
}

img.ui.image.air{
display: inline-block;
border-radius: 10px;
box-shadow: 1px 2px 100px white;
}
img.ui.image.jeff{
display: inline-block;
border-radius: 10px;
box-shadow: 1px 2px 100px white;
}
img.ui.image.nelum{
display: inline-block;
border-radius: 10px;
box-shadow: 1px 2px 100px white;
}
img.ui.image.ben{
display: inline-block;
border-radius: 10px;
box-shadow: 1px 2px 100px white;
}

a{
  color: #00006c;
}
.air:hover{
  content: url('https://media.giphy.com/media/MgX8LzWrA6dgY/giphy.gif');
  width: auto;
}
.jeff:hover{
  content: url('https://media1.giphy.com/media/5ntdy5Ban1dIY/200.webp#16-grid1');
  width: auto;
}
.nelum:hover{
  content: url('https://media0.giphy.com/media/3oEduLvxnhDsh83j3O/200.webp#39-grid1');
  width: auto;
}
.ben:hover{
  content: url('https://media0.giphy.com/media/vuzsbbTZVrWnK/200w.webp#80-grid1');
  width: auto;
}
