.head{
  background-color: black;
  background-image: url('https://images.unsplash.com/photo-1485646485012-f09e6a19d9c4?dpr=1&auto=compress,format&fit=crop&w=2550&h=&q=80&cs=tinysrgb&crop=');
  // https://images.unsplash.com/photo-1442507210693-938e0e77fef2?dpr=1&auto=compress,format&fit=crop&w=2534&h=&q=80&cs=tinysrgb&crop=

  background-size: cover;
  color: white;
  height: 100vh;
  width:100%;
}
.head img{
  // width:15%;
  position: relative;
  height: 27vh;
}
div.content{
  text-align: center;
  align-items: center;
  height:100vh;
  margin-left: 2%;
}
h3.subQuote{
  font-size: 2em;
  text-shadow: 5px 10px 30px white, 5px 10px 80px white, 5px 10px 80px white;
  font-family: 'Indie Flower', cursive;
  margin-top: 13vh;
  margin-bottom: 8vh;
  color: black;
  text-align: center;
}
h1.quote{
    font-size: 2.8em;
    text-shadow: 1px 5px 100px white, 1px 3px 100px white;
    font-family: 'Indie Flower', cursive;
    position :relative;
    color: black;
    text-align: center;
    -webkit-animation: mymove 10s infinite; /* Safari 4.0 - 8.0 */
    animation: mymove 10s infinite;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
    0%   {top: 0px;}
    25%  {top: 30px;}
    75%  {top: 50px}
    100% {top: 100px;}
}

/* Standard syntax */
@keyframes mymove {
    100% {top: 10px;}
    75%  {top: 30px;}
    25%  {top: 60px}
    0%   {top: 10px;}
}
