
.head{
  background-color: black;
  background-image: url('https://images.unsplash.com/photo-1442507210693-938e0e77fef2?dpr=1&auto=compress,format&fit=crop&w=2534&h=&q=80&cs=tinysrgb&crop=');
  background-size: cover;
  color: black;
  background-repeat: no-repeat;
  height: 100vh;
  width:100%;
  top:0%;
}
.head img{
  width:15%;
  position: relative;
}
.content{
  margin-left: 45%;
  text-align: center;
  align-items: center;
}
h3.subQuote{
  font-size: 1.5em;
  text-shadow: 2px 3px 3px black;
  font-family: 'Indie Flower', cursive;
  margin-top: 11%;
  color: white;
  text-align: center;
}
h1.quote{
    font-size: 3em;
    text-shadow: 2px 5px 10px white;
    font-family: 'Indie Flower', cursive;
    position :relative;
    color: black;
    text-align: center;
    -webkit-animation: mymove 10s infinite; /* Safari 4.0 - 8.0 */
    animation: mymove 10s infinite;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
    0%   {top: 0px;}
    25%  {top: 80px;}
    75%  {top: 50px}
    100% {top: 100px;}
}

/* Standard syntax */
@keyframes mymove {
    100% {top: 10px;}
    75%  {top: 30px;}
    25%  {top: 60px}
    0%   {top: 10px;}
}
