div.searchDiv {
  background-image: url('https://images.unsplash.com/photo-1484781663516-4c4ca4b04a13?dpr=1&auto=compress,format&fit=crop&w=2535&h=&q=80&cs=tinysrgb&crop=');
  align-items: center;
  position: fixed;
  background-size: cover;
  width: 100%;
  height: 35vh;
  position: absolute;
}

img.tripod {
  width: 20vh;
}

div.searchText {
  margin: 3% 0;
  color: black;
  font-size: 1em;
}

div.metaDiv {
  width: 100%;
  height: 25vh;
  // background-color: rgba(120, 60%, 70%, 0.65);
  text-align: center;
}

div.thirdDiv {
  width: 100%;
  align-items: center;
  text-align: center;
  display: inline-grid;
  padding: 2%;
}

button.ui.green.big.button.refresh{
  margin-top: 30%;
}

div.fourthDiv {
  top:0;
  width: 100%;
  height: 100%;
  background-color: #A19893;
  padding: 3%;
  overflow: auto;
  box-shadow: 2px 1px 25px black;
  // text-align: center;
}
div.img{
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  width: 28%;
  margin-left: 3.5%;
  margin-top: 3%;
  padding:0px;
}

div.fifthDiv {
  bottom: 0;
  width: 100%;
}

div.ui.buttons.click {
  display: flex;
  align-items: center;
  text-align: center;
}
.popup{
  background-color: rgba(0,0,0,0.1);
}
